@charset "utf-8";

// Import a Google Font
// @import url(http://fonts.googleapis.com/css?family=Roboto);

// Set your brand colors
$purple: #951c48;
$green: #20a162;
$orange: #fba414;
$blue: #51c4d3;
$customColor: #f03752;
$pink: #FA7C91;
$brown: #0f1423;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;

// Update Bulma's global variables
$family-sans-serif: "Segoe UI","Microsoft Yahei Light", "Microsoft JhengHei", sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $purple;
$warning: $orange;
$info: $blue;
$link: $pink;

$radius: 2px;
$radius-large: 4px;

$footer-background-color: $beige-lighter;

@import "./bulma/bulma.sass";

// 定义一些固定高度 以使得某些排榜更方便
.is-height-2 {
    height: 48px;
    overflow: hidden;
}

.is-height-3 {
    height: 72px;
    overflow: hidden;
}
.is-height-5 {
    height: 120px;
    overflow: hidden;
}


a {
    color: #363636;

    &:hover {
        color: $pink;
    }
}