@charset "utf-8";

// Set your brand colors
$purple: purple;
$green: #20a162;
$orange: #fba414;
$blue: Dodgerblue;
$customColor: #f03752;
$pink: #FA7C91;
$brown: #0f1423;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;

// Update Bulma's global variables
$family-sans-serif: "Segoe UI",
"Microsoft Yahei Light",
"Microsoft JhengHei",
sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $purple;
$warning: $orange;
$info: $blue;
$link: $pink;

$radius: 2px;
$radius-large: 4px;

$card-shadow: 0 4px 10px rgba(0, 0, 0, .15);

$footer-background-color: $beige-lighter;

@import "./bulma/bulma.sass";
@import "news.scss";


a {
    color: #363636;

    &:hover {
        color: $pink;
    }
}